:root {
    --progress : 100;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.wrap {
    position: relative;
    padding: 15px;
    background-color: #1e1e1e;
    text-align: center;
    width: 500px;
    height: 500px;
    border: 3px solid rgba(53, 53, 53, 1);
    border-radius: 8px;
    margin: 0 auto;
}

.watch__progress {
    position: absolute;
    top: 15%;
    left: 26%;
}
  
.circular-progress {
    --size: 250px;
    --half-size: calc(var(--size) / 2);
    --stroke-width: 10px;
    --radius: calc((var(--size) - var(--stroke-width)) / 2);
    --circumference: calc(var(--radius) * pi * 2);
    --dash: calc((var(--progress) * var(--circumference)) / 100);
}
  
.circular-progress circle {
    cx: var(--half-size);
    cy: var(--half-size);
    r: var(--radius);
    stroke-width: var(--stroke-width);
    fill: none;
    stroke-linecap: round;
}
  
.circular-progress circle.bg {
    stroke: #ddd;
}
  
.circular-progress circle.fg {
    transform: rotate(-90deg);
    transform-origin: var(--half-size) var(--half-size);
    stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
    transition: stroke-dasharray .3s linear 0s;
    stroke: #fba421;
}
  
/* @property --progress {
    syntax: "<number>";
    inherits: false;
    initial-value: 80;
} */

.watch__time {
    font-size: 45px;
    padding: 35%;
    color: aliceblue;
}

.watch__settings__start,
.watch__settings__reset {
    padding: 5px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    background-color: #fba421;
    color: rgba(30, 30, 30, 1);
    font-size: 30px;
}

.watch__settings__reset {
    margin: 0;
    border: 2px solid aliceblue;
    color: aliceblue;
    background-color: transparent;
}